body {
 margin-top: 0px;
 margin-right: 0px;
 margin-left: 0px;
 text-align: center;
 background-color: #e9dede;
 
}

h1 {
  margin-top: 0px;
}
p{
  margin-top: 0px;
}
img {

}



/***********************Class Selectors*****************/


.container {
  background-color: gray;
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
}

/***********************ID Selectors*****************/
#sun {
  position: absolute;
  top: 16%;
  right: 45%;
  width: 10%
}

#mountain {
  text-align: center;
  position: relative;
  bottom: 0;
}
