body {
 margin-top: 0px;
 margin-right: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 text-align: center;

}

h1 {
  font-family: Great Vibes, serif;
  /*font size can be set as "em", "%", or "px"*/
  /*"em" and "%" will scale with user inputted font size in google options*/
  /*"em" and "%" will also add to any already em value instead of replace*/
  /*"rem" will ignore the additive affect and will change the root value*/
  font-size: 6rem;
  padding-top: 100px;
  margin-top: 50px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-family: Libre Baskerville, serif;
}

p{
  margin-top: 0px;
}

img {

}



/***********************Class Selectors*****************/

.top-container {
  background-color: #e9dede;
  display: inline-block;
  vertical-align: center;
  position: relative;
  width: 100%;
  height: 1450px;
  bottom: 0;
}

/*top-container-photos is for containing a nicely formated set of pictures*/
.top-container-photos {
  background-color: #e9dede;
  display: inline-block;
  vertical-align: center;
  position: relative;
  width: 880px;
  height: 1000px;
  bottom: 0;
}

.middle-container{
  padding-top: 10px;
}

/***********************ID Selectors*****************/

#sun {
  text-align: center;
  position: relative;
  bottom: 0;
  top: 140px;
  width: 180px;
  height: 190px;
}

#mountain {
  position: relative;
  text-align: center;
  width: 700px;
  height: 800px;
}
#cloud1 {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 0px;
  top: 400px;
}

#cloud2 {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 300px;
  left: 680px;
}

#mySkillsPhoto {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

#myPhoto {
  position: relative;
  width: 15%;
  height: 15%;
  overflow: hidden;
  border-radius: 50%;
}

#backToHome {
  font-family: Libre Baskerville, serif;
  margin: 100px auto 0 auto;
  font-size: 2.5rem;
}
